<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update music genre</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Add new music genre</h2>
    <form action="#" th:action="@{'/genre/update/' + ${genre.name}}" method="post" class="mc-form" th:object="${genre}">
        <label for="genreName">Name</label>
        <input type="text" id="genreName" placeholder="e.g. Rock" th:field="*{name}">
        <label for="albumShortDescription">Description - max 500 character</label>
        <textarea id="albumShortDescription" rows="5" th:field="*{description}"></textarea>
        <button type="submit">Update</button>
    </form>
</main>
</body>
</html>